<a href="https://colab.research.google.com/github/tlokender61/data-science/blob/main/Text_Cleaning_%26_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import spacy
from spacy.lang.en.stop_words import STOP_WORDS as stopwords
import pandas as pd
import numpy as np
df=pd.read_csv('https://raw.githubusercontent.com/laxmimerit/twitter-data/master/twitter4000.csv')
df

                                                 twitts  sentiment
0     is bored and wants to watch a movie  any sugge...          0
1              back in miami.  waiting to unboard ship           0
2     @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                     ughhh i am so tired  blahhhhhhhhh          0
4     @mandagoforth me bad! It's funny though. Zacha...          0
...                                                 ...        ...
3995                                  i just graduated           1
3996          Templating works; it all has to be done            1
3997                   mommy just brought me starbucks           1
3998  @omarepps watching you on a House re-run...lov...          1
3999  Thanks for trying to make me smile I'll make y...          1

[4000 rows x 2 columns]

In [ ]:
def word_count(x):
  return len(x.split())
  
df['word_count']=df['twitts'].apply(lambda x:word_count(str(x)))
df[df['word_count']==1]

                               twitts  sentiment  word_count
385                         homework           0           1
691                         @ekrelly           0           1
1124                    disappointed           0           1
1286                 @officialmgnfox           0           1
1325                        headache           0           1
1897                      @MCRmuffin           0           1
2542                      Graduated!           1           1
2947                         reading           1           1
3176                    @omeirdeleon           1           1
3470  www.myspace.com/myfinalthought           1           1
3966                        @gethyp3           1           1

In [ ]:
text='there is a space'
def char_count(val):
  s = val.split()
  val=''.join(s)
  return  len(val)
  
ignore_space(text)
df['char_count']=df['twitts'].apply(lambda x:char_count(str(x)))

In [ ]:
def char_avg_count(x):
  return (char_count(x)/word_count(x))

df['char_avg_count']=df['twitts'].apply(lambda x: char_avg_count(str(x)))

In [ ]:
text='this is a stopword'
len([t for t in text.split() if t in stopwords])

3

In [ ]:
df['stop_words_len']=df['twitts'].apply(lambda x: len([t for t in str(x).split() if t in stopwords]))

Count #hashtags and @Mentions

In [ ]:
x='this is a #hashtag and this is a @mention'
[t for t in x.split() if t.startswith('#')]
df['hastag_count']=df['twitts'].apply(lambda x:len([t for t in str(x).split() if t.startswith('#')]))
df['at_count']=df['twitts'].apply(lambda x:len([t for t in str(x).split() if t.startswith('@')]))

If numeric digits are present in twitts

In [ ]:
x='i have 12 digits prensent'
df['numeric_count']=df['twitts'].apply(lambda x: len([t for t in str(x).split() if t.isdigit()]))
df[df['numeric_count']>1]

                                                 twitts  ...  numeric_count
53    @Gen215 ROFL following Jesus! Found 1 th othr ...  ...              3
125        @MasterAwesome 23 almost 24   im an old lady  ...              2
174   ohhh 2 write bak 2 ppl u hav 2 put their names...  ...              4
209   AT&amp;T: &quot;you have 4 bars of 3G. oh wait...  ...              2
278   Listenin 2 a bunch of janet's old slow songs w...  ...              2
440   Reeling from the news that an 11 and a 10 year...  ...              2
448   I'm bout 2go smoke. I'm not an addict. I just ...  ...              2
462   10 days to recover from ligament damage (from ...  ...              2
516   i was goin 2 welcome my 160th follower, only 2...  ...              2
535   @newsboys: nice how was the concert in Michiga...  ...              2
591   just thought about how unfair 3 ppl have been ...  ...              2
663   Root canal at 1530   ugh! Doc promised that it...  ...              2
714   @wizbiff 3 is only 300? boo, we suck then. we ...  ...              2
837   Sorry I'm @ home bored 2....waiting 4 my baby ...  ...              2
912   I'm not on Twitter enough for my replies to ev...  ...              2
927   @KarolinaGirlX @nikkidreams personally I prefe...  ...              2
1057  wut is going on with all these shootings this ...  ...              2
1198  my cat finished giving birth yall!! 1 was prem...  ...              2
1200  its 8 22 am, im so tired work for 6 hours  plu...  ...              3
1395  @_danisixteenth i r bored and i got a exam eve...  ...              2
1515  @Army_Wife4Life It did for a few minutes...She...  ...              3
1551  according to the 2009 Cedar Point Rider Safety...  ...              3
1615  is at school in media sooo bored  whats everyo...  ...              2
1616  @Clareies I'm 25 in december that's not good a...  ...              3
1719  @thetoughsams we were thinking 2 vs 1 but that...  ...              2
1724  News Update: Air France Flight 447 Rio to CDG ...  ...              2
1748  @jjdaco yeah I can talk for like 30 min. I nee...  ...              2
1828  @_Ambure_ Random, but I saw ur surgery pics, I...  ...              2
1929  Seriously    we have paid 300 dollars  2 get b...  ...              2
1996   @ babiiluv23 I miss you 2 fend! I told u 2 come   ...              2
2073  Only 8 followers to the 200 followers... pleas...  ...              2
2111  @KameronKhaos 5 days youre lucky. i suppose 18...  ...              2
2282  ive had the same c.d player since xmas 2001  a...  ...              2
2432      I've got 1000 followers in 6 days.. not bad.   ...              2
2551  So proud of cg, took 5 yrs in the making to ge...  ...              2
2609  going to mexican restaurant for lunch, then to...  ...              2
2668  @chocoboy1der - Earl! I need you 2 vote 4 me. ...  ...              2
3138  Played Sims 3 for almost 6 hours!  Now time fo...  ...              2
3210  Watching the original 1974 version of the taki...  ...              4
3499  @markhallCC well that makes sense then. We onl...  ...              2
3536  @ashleytisdale good luck 4 the MMA  u,mils&amp...  ...              2
3556  @djbriancua yeah thats a good start. back then...  ...              2
3577  @jaime_fox @jason_mcintyre  Sorry abt game 1 S...  ...              2
3578  @sergeb very cool! Always nice to hear 2 of my...  ...              2
3951  I am soo very parched. And hungry. Oh and I'm ...  ...              2

[45 rows x 11 columns]

UPPER case words count

In [ ]:
df['upper_count']=df['twitts'].apply(lambda x: len([t for t in str(x).split() if t.isupper()]))

Contraction to Expansion